# docs/requirements.txt
mkdocs==1.3.0
# theme:
mkdocs-material
# code documentation:
mkdocstrings
# markdown include:
markdown-include
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability