name: Super-Linter

# Run this workflow every time a new commit pushed to your repository
on:
  push:
    branches:
      - master

jobs:
  # Python 2.7 syntax/import check using CentOS 7 container
  test-py27:
    name: Python 2.7 compatibility check
    runs-on: ubuntu-latest
    container:
      image: centos:7
    steps:
      - name: Fix CentOS 7 EOL repos
        run: |
          sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*.repo
          sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*.repo

      - name: Install git and dependencies
        run: yum -y install git python2 python2-pip python-six

      - name: Clone repository
        run: git clone --depth 1 --branch ${{ github.ref_name }} https://github.com/${{ github.repository }}.git .

      - name: Install Python dependencies
        run: pip2 install netaddr

      - name: Verify Python 2.7 imports
        run: |
          echo '__version__ = "0.0.0"' > fds/__about__.py
          python2 -c "import fds; import fds.Country; import fds.Countries; import fds.WebClient; import fds.FirewallWrapper"

  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  test:
    # Name the Job
    name: Lint code base
    # Set the type of machine to run on
    runs-on: [self-hosted]

    steps:
      - name: Ensure /opt/fds, python2-setuptools_scm_git_archive
        run: |
          sudo mkdir -p /opt/fds
          sudo yum -y install python2-setuptools_scm_git_archive

      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Fake version
        run: |
          echo "ref-names: HEAD -> master, tag: v0" > ".git_archival.txt"

      - name: Ensure venv
        run: |
          virtualenv --system-site-packages ./venv

      - name: Ensure fds installed to venv
        run: |
          ./venv/bin/pip install -e .

      - name: Ensure fds required directories
        run: |
          sudo mkdir -p /var/cache/fds /var/lib/fds

      - name: Test IP unblock first
        run: |
          sudo ./venv/bin/python ./venv/bin/fds unblock 1.2.3.4

      - name: Test IP block
        run: |
          sudo ./venv/bin/python ./venv/bin/fds block 1.2.3.4

      - name: Test country block
        run: |
          sudo ./venv/bin/python ./venv/bin/fds block China

      - name: Test cron for sets updating
        run: |
          sudo ./venv/bin/python ./venv/bin/fds cron

      - name: Unblock a country
        run: |
          sudo ./venv/bin/python ./venv/bin/fds unblock China
